<div>
    <h1>Giới thiệu sản phẩm</h1>
    <p>Front-end</p>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JAVASCRIPT</li>
        <li>BOOSTRAP</li>
    </ul>
    <p>Back-end</p>
    <ul>
        <li>JAVASCRIPT</li>
        <li>NODE.JS</li>
    </ul>
    <p>DATABASE</p>
    <ul>
        <li>MYSQL</li>
    </ul>
</div>

<div>
    <h2>Bảng giá dịch vụ</h2>
    <ul>
        <li>Giá đăng 1 tin : 100coin</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>