#scrollToTopBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  right: 20px;
  z-index: 100;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: red;
  color: white;
  bottom: 80px; }

.login-form {
  border-radius: 10px;
  margin: 50px auto;
  max-width: 500px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }

.login-form h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px; }

.form-div {
  display: flex;
  flex-direction: column; }

.form-div label {
  font-size: 18px;
  margin-bottom: 5px; }

.form-div input[type="text"],
.form-div input[type="password"],
.form-div input[type="email"] {
  padding: 10px;
  margin-bottom: 0px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }

.form-div input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  background-color: #533bf3;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin: 10px 0 10px; }

.forget-signup {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.forget-signup .forget {
  color: #0152ff;
  width: auto;
  margin: auto;
  padding: 6px; }

.forget-signup .signup {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  background-color: #00c013;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin: 10px 0 10px; }

.signup-div {
  display: flex;
  gap: 20px;
  justify-content: center; }

.signup-form1 {
  border-radius: 10px;
  margin-top: 50px;
  width: 400px;
  max-width: 500px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; }

.signup-form1 h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px; }

.signup-form1 .haveacc {
  display: flex;
  justify-content: center;
  gap: 5px; }

.haveacc .login {
  color: #0152ff;
  text-decoration: underline; }

.signup-form2 {
  border-radius: 10px;
  margin-top: 50px;
  width: 400px;
  max-width: 500px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; }

.signup-form2 h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 38px; }

.signup-form2 h2 {
  text-align: center;
  font-size: 24px; }

.signup-form2 .gioitinh-div {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px; }

.form-div input[type="button"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  background-color: #533bf3;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin: 10px 0 10px; }

.signup-div p {
  margin-top: 10px; }

.xem-container {
  display: flex;
  width: 60%;
  /* Adjust as needed */
  margin: 0 auto;
  /* This centers the div horizontally */
  background-color: #f0f0f0;
  padding: 20px; }

.phong-tro {
  width: 70%;
  margin-right: 20px; }

.nguoi-dang {
  width: 30%; }

.hinh {
  margin-bottom: 0px; }

.thong-tin {
  margin-top: 5px;
  background-color: white; }

.dac-diem {
  margin-bottom: 10px;
  background-color: white; }

.chi-tiet {
  margin-top: 17px;
  background-color: white; }

.thong-tin .title {
  font-size: 26px; }

.gia {
  font-size: 17px;
  color: red; }

.dientich {
  font-size: 17px; }

.nguoi-dang .lien-he {
  margin-bottom: 20px; }

.nguoi-dang .thong-tin {
  margin-bottom: 20px; }

* {
  box-sizing: border-box; }

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative; }

/* Hide the images by default */
.mySlides {
  display: none; }

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white; }

.row:after {
  content: "";
  display: table;
  clear: both; }

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%; }

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6; }

.active,
.demo:hover {
  opacity: 1; }

.dang-tin {
  width: 50%;
  /* Adjust as needed */
  margin: 0 auto;
  /* This centers the div horizontally */
  background-color: #ffffff;
  padding: 20px; }

.dang-tin textarea {
  width: 100%; }

.dang-tin .them-anh,
.title,
.dia-chi,
.gia,
.mo-ta,
.lien-he {
  margin-top: 15px; }

.dang-tin input {
  margin-top: 15px;
  height: 50px; }

.dia-chi .diachi-popup {
  text-align: center; }

/* Style for the popup background */
.popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Style for the popup content */
.popup-content {
  background-color: #fefefe;
  margin: 10% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */ }

/* Style for the close button */
.closeBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.input-group {
  width: 40%;
  margin-bottom: 10px; }

.form-control {
  width: calc(100% - 90px); }

.input-group-text {
  width: 80px;
  text-align: center; }

.image-gallery .property img {
  display: none; }

.post-container {
  display: flex;
  width: 90%;
  /* Adjust as needed */
  margin: 0 auto;
  /* This centers the div horizontally */
  padding: 20px;
  gap: 15px; }

.post-container .post-div {
  flex: 7;
  background-color: #84affa;
  max-width: 778px;
  border-radius: 3px; }

.ds-locgia a {
  text-decoration: none;
  color: #414141; }

.ds-locgia li {
  margin-bottom: 7px; }

.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 60px;
  border-radius: 10px;
  display: none;
  font-size: 20px;
  text-align: center;
  z-index: 1000;
  max-width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

.notification.success {
  background-color: #4CAF50;
  color: white; }

.notification.error {
  background-color: #f44336;
  color: white; }

.notification.show {
  display: block; }
