 <div class="login-form">
    <h1>ĐĂNG NHẬP</h1>
    <form class="form-div" method="post">
      <label for="username">Tài khoản</label>
      <input name="username" type="text" placeholder="Nhập tên tài khoản">
      <p id="username-alert"></p>
      <label for="password">Mật khẩu</label>
      <input name="password" type="password" placeholder="Nhập mật khẩu">
      <p id="password-alert"></p>
  
      {{#if err}}
      <div style="padding-bottom:10px;text-align:center;color:red">{{err}}</div>
      {{/if}}
      
      <input type="submit" value="Đăng Nhập">
      <div class="forget-signup">
        
        <hr width="100%" color="gray" size="3px">
        <a style="text-decoration:none" class="signup" href="/signup">Đăng kí tài khoản mới</a>
      </div>
    </form>
  </div>