<form class="form-div" action="?" method="post" id="form-div1" >
  <div class="signup-div">
    <div class="signup-form1">
      <h1>ĐĂNG KÍ</h1>
      <label for="username">Tài khoản</label>
      <input name="username" id="username" type="text" placeholder="Nhập tên tài khoản">
      <p id="username-alert"></p>
      <label for="password">Mật khẩu</label>
      <input name="password" id='password' type="password" placeholder="Nhập mật khẩu">
      <p id="password-alert"></p>
      <label >Nhập lại mật khẩu</label>
      <input name="repassword" type="password" id='repassword' placeholder="Nhập lại mật khẩu">
      <p id="repassword-alert"></p>
      {{#if err}}
      <div style="padding-bottom:10px;">{{err}}</div>
      {{/if}}  
      <input type="submit" value="Đăng kí" id="submit-btn">
      <hr width="100%" color="gray" size="3px"> 
      <div class="haveacc" style="margin-top: 10px;">
        <p1>Đã có tài khoản? </p1>
        <a class="login" href="login">Đăng nhập</a>
      </div>
      
    </div>
  <div class="signup-form2">
      <h1>THÔNG TIN CÁ NHÂN</h1>
        <label for="hovaten">Họ và tên</label>
        <input name="hovaten" id="hovaten" type="text" placeholder="Nguyễn Văn A">
        <p id="hovaten-alert"></p>
        {{!-- <div class="gioitinh-div">
          <div><label>Gioi tinh: </label></div>
          <div >
          <input type="radio" id="nam" name="gioitinh" value="Nam"  />
          <label for="nam" style="margin-right: 15px;">Nam</label>
          <input type="radio" id="nu" name="gioitinh" value="Nu" />
          <label for="nu">Nu</label></div>
        </div>
        <p style="margin-top:-4px;" id="gioitinh-alert"></p> --}}
        <label for="sdt">Số điện thoại</label>
        <input name="sdt" id="sdt" type="text" placeholder="0123456789">
        <p id="sdt-alert"></p>
        <label for="cccd">Căn cước công dân</label>
        <input name="cccd" id="cccd" type="text" placeholder="123456789012">
        <p id="cccd-alert"></p>
        <label for="email">Email</label>
        <input name="email" id="email" input="email" type="text" placeholder="nguyenvana@gmail.com">
        <p id="email-alert"></p>
    </div>
    </div>
  </form>
  
  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      const form = document.querySelector('form');
      const submit_btn = document.getElementById("submit-btn");

      submit_btn.onclick = function (e) {
        e.preventDefault();

        const formData = new FormData(form);
        const jsonData = JSON.stringify(Object.fromEntries(formData));

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/signup", true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
              const response = JSON.parse(xhr.responseText);
              if (response.err) {
                showNotification("Thất bại", "danger");
              } else {
                showNotification("Thành công", "success");
                setTimeout(() => {
                  window.location.href = "/login";
                }, 2000);
              }
            } else {
              console.error("Request failed with status:", xhr.status);
            }
          }
        };

        xhr.send(jsonData);
      };

      function displayError(type, message) {
        const errorElements = {
          1: document.getElementById("username-alert"),
          2: document.getElementById("password-alert"),
          3: document.getElementById("repassword-alert"),
          4: document.getElementById("hovaten-alert"),
          5: document.getElementById("sdt-alert"),
          6: document.getElementById("cccd-alert"),
          7: document.getElementById("email-alert"),
        };

        const errorElement = errorElements[type];
        if (errorElement) {
          errorElement.innerHTML = message;
          errorElement.style.color = "red";
        }
      }
    });

  </script>

  

