<form class="form-div" action="" method="post" id="form-div1" >
  <div class="signup-div">
    <div class="signup-form1">
      <h1>ĐĂNG KÍ</h1>
      <label for="username">Tài khoản</label>
      <input name="username" id="username" type="text" placeholder="Nhập tên tài khoản">
      <p id="username-alert"></p>
      <label for="password">Mật khẩu</label>
      <input name="password" id='password' type="password" placeholder="Nhập mật khẩu">
      <p id="password-alert"></p>
      <label >Nhập lại mật khẩu</label>
      <input type="password" id='repassword' placeholder="Nhập lại mật khẩu">
      <p id="repassword-alert"></p>
      {{#if err}}
      <div style="padding-bottom:10px;">{{err}}</div>
      {{/if}}  
      <input type="submit" value="Đăng kí" id="submit-btn">
      <hr width="100%" color="gray" size="3px"> 
      <div class="haveacc" style="margin-top: 10px;">
        <p1>Đã có tài khoản? </p1>
        <a class="login" href="login">Đăng nhập</a>
      </div>
      
    </div>
  <div class="signup-form2">
      <h1>THÔNG TIN CÁ NHÂN</h1>
        <label for="hovaten">Họ và tên</label>
        <input name="hovaten" id="hovaten" type="text" placeholder="Nguyễn Văn A">
        <p id="hovaten-alert"></p>
        {{!-- <div class="gioitinh-div">
          <div><label>Gioi tinh: </label></div>
          <div >
          <input type="radio" id="nam" name="gioitinh" value="Nam"  />
          <label for="nam" style="margin-right: 15px;">Nam</label>
          <input type="radio" id="nu" name="gioitinh" value="Nu" />
          <label for="nu">Nu</label></div>
        </div>
        <p style="margin-top:-4px;" id="gioitinh-alert"></p> --}}
        <label for="sdt">Số điện thoại</label>
        <input name="sdt" id="sdt" type="text" placeholder="0123456789">
        <p id="sdt-alert"></p>
        <label for="cccd">Căn cước công dân</label>
        <input name="cccd" id="cccd" type="text" placeholder="123456789012">
        <p id="cccd-alert"></p>
        <label for="email">Email</label>
        <input name="email" id="email" input="email" type="text" placeholder="nguyenvana@gmail.com">
        <p id="email-alert"></p>
    </div>
    </div>
  </form>
  
  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      
      const form=document.querySelector('form');
      const submit_btn=document.getElementById("submit-btn");
      
      submit_btn.onclick=function(e) {
        e.preventDefault();
        const elements = document.querySelectorAll('p');
        elements.forEach(element => {
          element.innerHTML = '';
          });
        if(check()==true){
          form.submit();
        }
      }

      function check(){
        var check=true;
        {{#if noaccounts}}
          const username=document.getElementById("username");
          var username_alert=document.getElementById("username-alert");
          if(username.value==''){
            username_alert.innerHTML="Tên tài khoản không được để trống";
            username_alert.style.color="red";
            check= false;
          }
          //Mat khau
        const password=document.getElementById("password");
        const repassword=document.getElementById("repassword");
        var ps_alert=document.getElementById("password-alert");
        var reps_alert=document.getElementById("repassword-alert");
        if(password.value.length<6){
          ps_alert.innerHTML = "Mật khẩu phải có ít nhất 6 kí tự";
          ps_alert.style.color="red";
          check= false;
        }
        else if(password.value!=repassword.value){ 
          reps_alert.innerHTML = "Mật khẩu không khớp";
          reps_alert.style.color="red";
          check= false;
        }
        const hovaten=document.getElementById("hovaten");
        var hovaten_alert = document.getElementById("hovaten-alert");
        if(hovaten.value==''){
          hovaten_alert.style.color="red";
          hovaten_alert.innerHTML = "Họ và tên không được để trống";
          check=false;
        }else if(containsOnlyText(hovaten.value)==false){ 
          hovaten_alert.style.color="red";
          hovaten_alert.innerHTML = "Họ và tên chỉ được chứa chữ cái";
          check=false;
        }
        
        //So dien thoai
        const sdt=document.getElementById("sdt");
        var sdt_alert = document.getElementById("sdt-alert");
        if(sdt.value==''){
          sdt_alert.style.color="red";
          sdt_alert.innerHTML = "Số điện thoại không được để trống";
          check=false;
        }
        else if(sdt.value.length>10 || sdt.value.length<7){ 
          sdt_alert.style.color="red";
          sdt_alert.innerHTML = "Số điện thoại không hợp lệ";
          check=false;
        }else if(containsOnlyNumbers(sdt.value)==false){ 
          sdt_alert.style.color="red";
          sdt_alert.innerHTML = "Số điện thoại chỉ được chứa chữ số";
          check=false;
        }
        //CCCD
        const cccd=document.getElementById("cccd");
        var cccd_alert = document.getElementById("cccd-alert");
        if(cccd.value==''){
          cccd_alert.style.color="red";
          cccd_alert.innerHTML = "Căn cước công dân không được để trống";
          check=false;
        }
        else if(cccd.value.length!=12){ 
          cccd_alert.style.color="red";
          cccd_alert.innerHTML = "Căn cước công dân không hợp lệ";
          check=false;
        }else if(containsOnlyNumbers(cccd.value)==false){ 
          cccd_alert.style.color="red";
          cccd_alert.innerHTML = "Căn cước công dân chỉ được chứa chữ số";
          check=false;
        }
          
        //Email
        const email=document.getElementById("email");
        var email_alert = document.getElementById("email-alert");
        if(email.value==''){
          email_alert.style.color="red";
          email_alert.innerHTML = "Email không được để trống";
          check=false;
        }
        else if(isValidEmail(email.value)==false) { 
          email_alert.style.color="red";
          email_alert.innerHTML = "Email không hợp lệ";
          check=false;
        } 
        return check;
        {{/if}}
        //Tai khoan
        {{#if accounts}}
         let accounts = {{{json accounts}}};
        
        const username=document.getElementById("username");
        var username_alert=document.getElementById("username-alert");
        if(username.value==''){
          username_alert.innerHTML="Tên tài khoản không được để trống";
          username_alert.style.color="red";
          check= false;
        }
        else if(accounts.some(obj => obj.username === username.value)==true){
          username_alert.innerHTML="Tên tài khoản đã tồn tại";
          username_alert.style.color="red";
          check= false;
        }
        
        //Mat khau
        const password=document.getElementById("password");
        const repassword=document.getElementById("repassword");
        var ps_alert=document.getElementById("password-alert");
        var reps_alert=document.getElementById("repassword-alert");
        if(password.value.length<6){
          ps_alert.innerHTML = "Mật khẩu phải có ít nhất 6 kí tự";
          ps_alert.style.color="red";
          check= false;
        }
        else if(password.value!=repassword.value){ 
          reps_alert.innerHTML = "Mật khẩu không khớp";
          reps_alert.style.color="red";
          check= false;
        }

        //Ho va ten
        const hovaten=document.getElementById("hovaten");
        var hovaten_alert = document.getElementById("hovaten-alert");
        if(hovaten.value==''){
          hovaten_alert.style.color="red";
          hovaten_alert.innerHTML = "Họ và tên không được để trống";
          check=false;
        }else if(containsOnlyText(hovaten.value)==false){ 
          hovaten_alert.style.color="red";
          hovaten_alert.innerHTML = "Họ và tên chỉ được chứa chữ cái";
          check=false;
        }
        
        //So dien thoai
        const sdt=document.getElementById("sdt");
        var sdt_alert = document.getElementById("sdt-alert");
        if(sdt.value==''){
          sdt_alert.style.color="red";
          sdt_alert.innerHTML = "Số điện thoại không được để trống";
          check=false;
        }
        else if(sdt.value.length>10 || sdt.value.length<7){ 
          sdt_alert.style.color="red";
          sdt_alert.innerHTML = "Số điện thoại không hợp lệ";
          check=false;
        }else if(containsOnlyNumbers(sdt.value)==false){ 
          sdt_alert.style.color="red";
          sdt_alert.innerHTML = "Số điện thoại chỉ được chứa chữ số";
          check=false;
        }

        //CCCD
        const cccd=document.getElementById("cccd");
        var cccd_alert = document.getElementById("cccd-alert");
        if(cccd.value==''){
          cccd_alert.style.color="red";
          cccd_alert.innerHTML = "Căn cước công dân không được để trống";
          check=false;
        }
        else if(cccd.value.length!=12){ 
          cccd_alert.style.color="red";
          cccd_alert.innerHTML = "Căn cước công dân không hợp lệ";
          check=false;
        }else if(containsOnlyNumbers(cccd.value)==false){ 
          cccd_alert.style.color="red";
          cccd_alert.innerHTML = "Căn cước công dân chỉ được chứa chữ số";
          check=false;
        }else if(accounts.some(obj => obj.id_card === cccd.value)==true){
          cccd_alert.innerHTML="Căn cước công dân đã được dùng để đăng kí";
          cccd_alert.style.color="red";
          check= false;
        }
        
        //Email
        const email=document.getElementById("email");
        var email_alert = document.getElementById("email-alert");
        if(email.value==''){
          email_alert.style.color="red";
          email_alert.innerHTML = "Email không được để trống";
          check=false;
        }
        else if(isValidEmail(email.value)==false) { 
          email_alert.style.color="red";
          email_alert.innerHTML = "Email không hợp lệ";
          check=false;
        }
        else if(accounts.some(obj => obj.email === email.value)==true){
          email_alert.innerHTML="Email đã được dùng để đăng kí";
          email_alert.style.color="red";
          check= false;
        }
        /*Gioi tinh
        if(gioitinh()==false){
          var gioitinh_alert=document.getElementById("gioitinh-alert");
          gioitinh_alert.innerHTML="Vui long chon gioi tinh";
          gioitinh_alert.style.color="red";
          check= false;
        }
        function gioitinh() {
          const radioButtons = document.getElementsByName("gioitinh");
          for (const radioButton of radioButtons) {
              if (radioButton.checked) {
                  return true;
              }
          }
          return false;
        }
        */
        function containsOnlyText(str) {
          return /^[a-zA-Z\s]+$/.test(str);
        }
        function containsOnlyNumbers(str) {
        return /^\d+$/.test(str);
        }
        function isValidEmail(email) {
          const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          return emailRegex.test(email);
        }
        return check;
        {{/if}}
      }
      function containsOnlyText(str) {
          return /^[a-zA-Z\s]+$/.test(str);
        }
        function containsOnlyNumbers(str) {
        return /^\d+$/.test(str);
        }
        function isValidEmail(email) {
          const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          return emailRegex.test(email);
        }
    });
  </script>

  

