<form class="form-div" action="" method="post" id="form-div1" >
  <div class="signup-div">
    <div class="signup-form1">
      <h1>DANG KI</h1>
      <label for="username">Tai Khoan</label>
      <input name="username" id="username" type="text" placeholder="Nhap ten tai khoan">
      <p id="username-alert"></p>
      <label for="password">Mat Khau</label>
      <input name="password" id='password' type="password" placeholder="Nhap mat khau">
      <p id="password-alert"></p>
      <label >Nhap lai mat khau</label>
      <input type="password" id='repassword' placeholder="Nhap lai mat khau">
      <p id="repassword-alert"></p>
      {{#if err}}
      <div style="padding-bottom:10px;">{{err}}</div>
      {{/if}}  
      <input type="submit" value="Dang Ki" id="submit-btn">
      <hr width="100%" color="gray" size="3px"> 
      <div class="haveacc" style="margin-top: 10px;">
        <p1>Da co tai khoan? </p1>
        <a class="login" href="/login">Dang nhap</a>
      </div>
      
    </div>
  <div class="signup-form2">
      <h1>THONG TIN CA NHAN</h1>
        <label for="hovaten">Ho va ten</label>
        <input name="hovaten" id="hovaten" type="text" placeholder="Nguyen Van A">
        <p id="hovaten-alert"></p>
        <div class="gioitinh-div">
          <div><label>Gioi tinh: </label></div>
          <div >
          <input type="radio" id="nam" name="gioitinh" value="Nam"  />
          <label for="nam" style="margin-right: 15px;">Nam</label>
          <input type="radio" id="nu" name="gioitinh" value="Nu" />
          <label for="nu">Nu</label></div>
        </div>
        <p style="margin-top:-4px;" id="gioitinh-alert"></p>
        <label for="sdt">So dien thoai</label>
        <input name="sdt" id="sdt" type="text" placeholder="0123456789">
        <p id="sdt-alert"></p>
        <label for="cccd">So can cuoc cong dan</label>
        <input name="cccd" id="cccd" type="text" placeholder="123456789012">
        <p id="cccd-alert"></p>
        <label for="email">Email</label>
        <input name="email" id="email" input="email" type="text" placeholder="nguyenvana@gmail.com">
        <p id="email-alert"></p>
    </div>
    </div>
  </form>
  
  <script>
    /*
    document.addEventListener("DOMContentLoaded", (event) => {
      
      const form=document.querySelector('form');
      const submit_btn=document.getElementById("submit-btn");
      
      submit_btn.onclick=function(e) {
        e.preventDefault();
        const elements = document.querySelectorAll('p');
        elements.forEach(element => {
          element.innerHTML = '';
          });
        if(check()){
          //form.submit();
        }
      }

      function check(){
        var check=true;

        //Tai khoan
        const accounts = {{{accounts}}};
        const username=document.getElementById("username");
        var username_alert=document.getElementById("username-alert");
        if(username.value==''){
          username_alert.innerHTML="Ten tai khoan khong duoc de trong";
          username_alert.style.color="red";
          check= false;
        }
        else if(accounts.some(obj => obj.username === username.value)==true){
          username_alert.innerHTML="Ten tai khoan da ton tai";
          username_alert.style.color="red";
          check= false;
        }
        
        //Mat khau
        const password=document.getElementById("password");
        const repassword=document.getElementById("repassword");
        var ps_alert=document.getElementById("password-alert");
        var reps_alert=document.getElementById("repassword-alert");
        if(password.value.length<6){
          ps_alert.innerHTML = "Mật khẩu phải có ít nhất 6 kí tự";
          ps_alert.style.color="red";
          check= false;
        }
        else if(password.value!=repassword.value){ 
          reps_alert.innerHTML = "Mật khẩu không khớp";
          reps_alert.style.color="red";
          check= false;
        }

        //Ho va ten
        const hovaten=document.getElementById("hovaten");
        var hovaten_alert = document.getElementById("hovaten-alert");
        if(hovaten.value==''){
          hovaten_alert.style.color="red";
          hovaten_alert.innerHTML = "Ho va ten khong duoc de trong";
          check=false;
        }else if(containsOnlyText(hovaten.value)==false){ 
          hovaten_alert.style.color="red";
          hovaten_alert.innerHTML = "Ho va ten chi duoc chua chu cai";
          check=false;
        }
        
        //So dien thoai
        const sdt=document.getElementById("sdt");
        var sdt_alert = document.getElementById("sdt-alert");
        if(sdt.value==''){
          sdt_alert.style.color="red";
          sdt_alert.innerHTML = "So dien thoai khong duoc de trong";
          check=false;
        }
        else if(sdt.value.length>11 || sdt.value.length<7){ 
          sdt_alert.style.color="red";
          sdt_alert.innerHTML = "So dien thoai khong hop le";
          check=false;
        }else if(containsOnlyNumbers(sdt.value)==false){ 
          sdt_alert.style.color="red";
          sdt_alert.innerHTML = "So dien thoai chi duoc chua chu so";
          check=false;
        }else if(accounts.some(obj => obj.sdt === sdt.value)==true){
          sdt_alert.innerHTML="So dien thoai da duoc dung de dang ki";
          sdt_alert.style.color="red";
          check= false;
        }

        //CCCD
        const cccd=document.getElementById("cccd");
        var cccd_alert = document.getElementById("cccd-alert");
        if(cccd.value==''){
          cccd_alert.style.color="red";
          cccd_alert.innerHTML = "Can cuoc cong dan khong duoc de trong";
          check=false;
        }
        else if(cccd.value.length!=12){ 
          cccd_alert.style.color="red";
          cccd_alert.innerHTML = "Can cuoc cong dan khong hop le";
          check=false;
        }else if(containsOnlyNumbers(cccd.value)==false){ 
          cccd_alert.style.color="red";
          cccd_alert.innerHTML = "Can cuoc cong dan chi duoc chua chu so";
          check=false;
        }else if(accounts.some(obj => obj.cccd === cccd.value)==true){
          cccd_alert.innerHTML="Can cuoc cong dan da duoc dung de dang ki";
          cccd_alert.style.color="red";
          check= false;
        }
        
        //Email
        const email=document.getElementById("email");
        var email_alert = document.getElementById("email-alert");
        if(email.value==''){
          email_alert.style.color="red";
          email_alert.innerHTML = "Email khong duoc de trong";
          check=false;
        }
        else if(isValidEmail(email.value)==false) { 
          email_alert.style.color="red";
          email_alert.innerHTML = "Email khong hop le";
          check=false;
        }
        else if(accounts.some(obj => obj.email === email.value)==true){
          email_alert.innerHTML="Email da duoc dung de dang ki";
          email_alert.style.color="red";
          check= false;
        }
        //Gioi tinh
        if(gioitinh()==false){
          var gioitinh_alert=document.getElementById("gioitinh-alert");
          gioitinh_alert.innerHTML="Vui long chon gioi tinh";
          gioitinh_alert.style.color="red";
          check= false;
        }

        function containsOnlyText(str) {
          return /^[a-zA-Z\s]+$/.test(str);
        }
        function containsOnlyNumbers(str) {
        return /^\d+$/.test(str);
        }
        function isValidEmail(email) {
          const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          return emailRegex.test(email);
        }
        function gioitinh() {
          const radioButtons = document.getElementsByName("gioitinh");
          for (const radioButton of radioButtons) {
              if (radioButton.checked) {
                  return true;
              }
          }
          return false;
        }
        return check;
      }
    });*/
  </script>

  

