#scrollToTopBtn {
    width: 60px;
    height: 60px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    z-index: 9999;
    background-color: #f83859;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: .7rem;
    line-height: 1;
    position: fixed;
    bottom: 90px;
    right: 20px;
}

#helpBtn {
    width: 60px;
    height: 60px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    z-index: 9999;
    background-color: #03a84e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: .7rem;
    line-height: 1;
    position: fixed;
    bottom: 20px;
    right: 20px; 
}

#helpBox {
    height: auto;
    border: none;
    background-color: #fff;
    min-width: 500px;
    box-shadow: rgb(59 65 68 / 30%) 0 0 20px 0;
    border-radius: 15px;
    background-color: #03a84e;
    font-size: .9rem;
    display: none;
    z-index: 2;
    position: fixed;
    bottom: 20px;
    right: 40px;
}