<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/app.css">
    
</head>
<body>
    
        <!-- Success Message -->
        <div id="msg-success" class="xd-message msg-success hidden">
        <div class="xd-message-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M416 128L192 384l-96-96"/>
            </svg>
        </div>
        <div class="xd-message-content">
            <p>Thành công</p>
        </div>
        <a href="#" class="xd-message-close">
            <i class="close-icon ion-close-round"></i>
        </a>
        </div>

        <!-- Danger Message -->
        <div id="msg-danger" class="xd-message msg-danger hidden">
        <div class="xd-message-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512">
            <path d="M437.5 386.6L306.9 256l130.6-130.6c14.1-14.1 14.1-36.8 0-50.9-14.1-14.1-36.8-14.1-50.9 0L256 205.1 125.4 74.5c-14.1-14.1-36.8-14.1-50.9 0-14.1 14.1-14.1 36.8 0 50.9L205.1 256 74.5 386.6c-14.1 14.1-14.1 36.8 0 50.9 14.1 14.1 36.8 14.1 50.9 0L256 306.9l130.6 130.6c14.1 14.1 36.8 14.1 50.9 0 14-14.1 14-36.9 0-50.9z" fill="currentColor"/>
            </svg>
        </div>
        <div class="xd-message-content">
            <p>Thất bại</p>
        </div>
        <a href="#" class="xd-message-close">
            <i class="close-icon ion-close-round"></i>
        </a>
        </div>

        <div>
            {{{body}}}
        </div>

    <script>
            function showNotification(message, type) {
                const successMessage = document.getElementById("msg-success");
                const dangerMessage = document.getElementById("msg-danger");

                if (type === "success") {
                    successMessage.querySelector(".xd-message-content p").textContent = message;
                    successMessage.classList.remove("hidden");
                    successMessage.classList.add("show");
                } else if (type === "danger") {
                    dangerMessage.querySelector(".xd-message-content p").textContent = message;
                    dangerMessage.classList.remove("hidden");
                    dangerMessage.classList.add("show");
                }

                setTimeout(() => {
                    if (type === "success") {
                    successMessage.classList.remove("show");
                    successMessage.classList.add("hidden");
                    } else if (type === "danger") {
                    dangerMessage.classList.remove("show");
                    dangerMessage.classList.add("hidden");
                    }
                }, 3000);
                }
    </script>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    
</body>
</html>