<button id="scrollToTopBtn">&#8593;</button>

<script>
  const btnScrollToTop = document.getElementById('scrollToTopBtn');
  const docEl = document.documentElement;

  document.addEventListener('DOMContentLoaded', checkScrollPosition);
  document.addEventListener('scroll', checkScrollPosition);

  function checkScrollPosition() {
    const scrollTotal = docEl.scrollHeight - window.innerHeight;
    if ((docEl.scrollTop / scrollTotal) >= 0.4) {
      btnScrollToTop.style.display = 'block';
    } else {
      btnScrollToTop.style.display = 'none';
    }
  }

  btnScrollToTop.addEventListener('click', () => {
    docEl.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  });
</script>