<ul class="nav nav-pills nav-fill">
    <li class="nav-item" style="width: 200px">
      <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
    </li>
    <li class="nav-item" style="width: 200px">
      <a class="nav-link" href="/cho-thue-phong-tro">Cho thuê phòng trọ</a>
    </li>
    <li class="nav-item" style="width: 200px">
      <a class="nav-link" href="/tim-nguoi-o-ghep">Tìm người ở ghép</a>
    </li>
    <li class="nav-item" style="width: 200px">
      <a class="nav-link" href="/bang-gia-dich-vu">Bảng giá dịch vụ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" role="button" style="width: 5px">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="ionicon" viewBox="0 0 512 512"><path d="M427.68 351.43C402 320 383.87 304 383.87 217.35 383.87 138 343.35 109.73 310 96c-4.43-1.82-8.6-6-9.95-10.55C294.2 65.54 277.8 48 256 48s-38.21 17.55-44 37.47c-1.35 4.6-5.52 8.71-9.95 10.53-33.39 13.75-73.87 41.92-73.87 121.35C128.13 304 110 320 84.32 351.43 73.68 364.45 83 384 101.61 384h308.88c18.51 0 27.77-19.61 17.19-32.57zM320 384v16a64 64 0 01-128 0v-16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" role="button" style="width: 5px">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="ionicon" viewBox="0 0 512 512"><path d="M408 64H104a56.16 56.16 0 00-56 56v192a56.16 56.16 0 0056 56h40v80l93.72-78.14a8 8 0 015.13-1.86H408a56.16 56.16 0 0056-56V120a56.16 56.16 0 00-56-56z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><circle cx="160" cy="216" r="32"/><circle cx="256" cy="216" r="32"/><circle cx="352" cy="216" r="32"/></svg>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="ionicon" viewBox="0 0 512 512"><rect x="96" y="48" width="320" height="416" rx="48" ry="48" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M176 128h160M176 208h160M176 288h80"/></svg>
        Quản lý tin
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
        </svg>
        {{#if user}}
          {{{user}}}
          </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
        <li><a class="dropdown-item" href="">Số dư: {{{sodu}}} đồng</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
      </ul>
    </li>
        {{else}}
          Tài khoản
          </a>
          <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/login">Đăng nhập</a></li>
        <li><a class="dropdown-item" href="/signup">Đăng ký</a></li>
      </ul>
    </li>
        {{/if}}
      
    <li class="nav-item">
      <a class="nav-link" role="button" href="/dang-tin" style="width: 120px">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="ionicon" viewBox="0 0 512 512"><path d="M384 224v184a40 40 0 01-40 40H104a40 40 0 01-40-40V168a40 40 0 0140-40h167.48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M459.94 53.25a16.06 16.06 0 00-23.22-.56L424.35 65a8 8 0 000 11.31l11.34 11.32a8 8 0 0011.34 0l12.06-12c6.1-6.09 6.67-16.01.85-22.38zM399.34 90L218.82 270.2a9 9 0 00-2.31 3.93L208.16 299a3.91 3.91 0 004.86 4.86l24.85-8.35a9 9 0 003.93-2.31L422 112.66a9 9 0 000-12.66l-9.95-10a9 9 0 00-12.71 0z"/></svg>
        Đăng tin
      </a>
    </li>
</ul>

<marquee width="100%" bgcolor="yellow">Nhóm 27 - Môn thực tập cơ sở - Web hỗ trợ tìm phòng</marquee>